<div class="col-md-12 altura">

  <h2>Estados brasileiros</h2>

<table class="table altura">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Siglas</th>
      <th scope="col">Estados</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estado of estados">
      <th scope="row">{{ estado.id }}</th>
      <td>{{ estado.sigla }}</td>
      <td>{{ estado.nome }}</td>
    </tr>
 
  </tbody>
</table>
</div>