<form class="altura" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" aria-describedby="emailHelp" placeholder="Nome">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>