<div class="col-md-12">

  <h3 class="altura">Fatos</h3>

<p class="altura">
Decreto 8.401, de 4/2, atribui à CCEE a criação e gestão da Conta Centralizadora dos Recursos de Bandeiras Tarifárias
Em junho, CCEE habilita EDP C como o quinto comercializador varejista
CCEE inicia gestão das contas setoriais (CDE, RGR e CCC) em maio, com foco em transparência
Associados aprovam demonstrações financeiras de 2016 na 18ª Assembleia Geral Ordinária, realizada em abril
CCEE lança em abril o InfoLeilão Dinâmico, com visão estratégica sobre o mercado regulado (ACR)
ONS, EPE e CCEE publicam em abril a 1ª Revisão Quadrimestral da previsão de carga de 2017
Sediado na Câmara de Comercialização em janeiro, I Fórum de Energia Elétrica com o Mercado Financeiro foi conduzido pelos presidentes da CCEE, EPE e ONS. O evento reuniu 45 analistas do mercado financeiro de diversas instituições que atuam no setor elétrico.
Criação do programa CapacitaCCEE, iniciativa que aumentou o portfólio de cursos presenciais aos agentes por meio de parcerias firmadas com associações representativas de classe. A primeira delas foi realizada em janeiro com a ABEEólica, com o curso para empreendedores de leilões de energia nova.
Atendimento da CCEE ganha nova estrutura em fevereiro, com formatação diferenciada das carteiras (divisão dos agentes em grupos), entre outras medidas para aumentar ainda mais a qualidade e eficiência do serviço oferecido pela instituição.

</p>
</div>